@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
} /*adding cursor-pointer to buttons by default*/
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

.banner:hover {
  box-shadow: 5px 6px 10px rgba(0, 200, 83, 0.06);
  transition: transform 0.25s ease, box-shadow 0.45s ease;
}
.feature {
  position: relative;
  overflow: hidden;
  transition: transform 0.25s ease, box-shadow 0.25s ease, scale 0.25s ease;
}
.feature::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  width: 0;
  height: 0;
  border-right: 3px solid #00c853;
  border-bottom: 3px solid #00c853;
  opacity: 0;
  transition: opacity 0.15s ease;
}
.feature:hover {
  transform: translateY(-6px);
  scale: 1.05;
  box-shadow: 6px 8px 15px rgba(0, 200, 83, 0.06);
}
.feature:hover::before {
  opacity: 1;
  animation: borderTravel 0.8s forwards ease-out;
}
@keyframes borderTravel {
  0% {
    width: 0;
    height: 0;
    border-radius: 0;
  }
  50% {
    width: 0%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
    border-radius: 16px;
  }
}

/* PAGE LOAD ANIMATIONS */
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes navanimate {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} /* Utility classes */
.animate-slide-left {
  animation: slideInLeft 0.8s ease-out forwards;
}
.animate-slide-right {
  animation: slideInRight 0.8s ease-out forwards;
}
.animate-slide-up {
  animation: slideUp 0.8s ease-out forwards;
}
.nav-animate {
  animation: navanimate 0.5s ease-in forwards;
}